/* card style */
.card {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.103);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.103);
}
.card-rent-main,
.card-buy-main {
  gap: 2rem 0;
}

.card-text {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.img-square-wrapper img {
  /* width: 20rem;
  min-height: 18rem;
  max-height: 18rem; */
  width: 100%;
  height: 100%;
  border-radius: 1px;
  object-fit: scale-down;
  /* margin: 0 auto; */
}
.img-square-wrapper {
  background-color: #f5f4f4;
  width: 20rem;
  min-height: 18rem;
  max-height: 18rem;
  /* margin: 0 auto; */
}
.card-rent-ul,
.card-buy-ul {
  list-style-type: none;
}
.card-rent-ul li {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-buy-ul li {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-rent-body,
.card-buy-body {
  display: flex;
  flex-direction: column;
}
.view-card-link {
  margin-top: auto;
  width: 25%;
  align-self: flex-end;
}
.rent-card-svg,
.buy-card-svg {
  width: 20px;
  height: 18px;
  fill: #28b487;
  color: #28b487;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #2e864b;
}

.view-card-link,
.submit-modal-search {
  background-color: #55c57a;
  color: #fff;
  border: none;
}
.view-card-link::after,
.submit-modal-search::after {
  background-color: #55c57a;
  color: #fff;
}

.second-houseinfo {
  display: none;
}
.submit-button {
  border: none;
  background-color: rgb(48, 184, 194);
  padding: 0.4rem 2rem;
  border-radius: 3px;
}
.select-approval {
  background-color: rgb(48, 184, 194);
}
.app-rej-container {
  display: flex;
  gap: 0.5rem;
}

.approve-button,
.reject-button,
.approve-sale-button,
.reject-sale-button {
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4rem 1rem;
}
.approve-button,
.approve-sale-button {
  color: #fff;
  background-color: #11bdbd;
}

.reject-button,
.reject-sale-button {
  color: #fff;
  background-color: #d31414;
}

.approve-button:hover,
.reject-button:hover .approve-sale-button:hover,
.reject-sale-button:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.housefound {
  margin-top: 2rem;
  text-align: center;
}
.housefound img {
  width: 60%;
  height: auto;
}
.housefound h1 {
  font-weight: 600;
  margin-top: 2rem;
}

@media screen and (max-width: 29.9em) {
  .second-houseinfo {
    display: block;
    background-color: #fff;
    height: 45vh;
  }
}
