extends base
block content 
  link(rel='stylesheet' href='/style/contact.css')
  main.main.main-error
    .contactUs-container 
      .contact-information-container 
          .contact-text
            h2.cantactus-header راه های ارتباطی:
            h2 شماره تماس:
            p.cantactus-phone 0000 000 0930 - 0000 000 0922 - 0000 0000 021
            h2 آدرس:
              p شیراز - بلوار تست - میدان تست 
          .contact-svg-container 
            img.contact-svg(src='/img/contact.svg', alt='Contact Us!')
    .second-about