extends base
block content 
  link(rel='stylesheet' href='/style/account.css')
  main.main.main-error
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error اوه  اوه ! مشکلی پیش اومده!!   
        h2.error__emoji 😢 🤯
      .error__msg= msg 