extends base

block content
  link(rel='stylesheet' href='/style/map.css')
  script(src='/scripts/leaflet/dist/leaflet.js')
  link(rel='stylesheet', href='/scripts/leaflet/dist/leaflet.css')
  
  div.parent-map
    .search-select-btn
      button.searchForRents.select-button.button1
        | دیدن مکان ها برای رهن و اجاره
      button.searchForSales.select-button.button2
        | دیدن مکان ها برای خرید ملک
    div#map 

  script(type='module' src='/js/map.js')
